@page
@using Microsoft.Extensions.Localization
@using Artizan.IoTDA.Localization
@using Artizan.IoTDA.Web.Pages.IoTDA
@model Artizan.IoTDA.Web.Pages.IoTDA.IndexModel
@inject IStringLocalizer<IoTDAResource> L

@{
}
<h1>IoTDA</h1>
<p>@L["SamplePageMessage"]</p>
