<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--
	package-source-mapping 参见：https://learn.microsoft.com/zh-cn/nuget/consume-packages/package-source-mapping 

	特别注意：
	当存在多个Nuget源，会根据优先级依次从某个Nuget源下载某个包到全局包目录： C:\Users\<用户名>\.nuget\packages 中进行缓存，
	而Nuget默认规则是：
	    只要包的版本号相同，不管从哪个Nuget源下载到全局包目录的包，其内容视为一致，即使实际上有可能并不一致，故：
		当全局包目录已经存在某个版本号的包，该版本号的包就不会再次下载，即不会被更新替换。

    所以当你有如下场景需求时：
	在开发阶段，在修复bug后重新发布包，但不想修改包的版本号，而是以相同的版本号覆盖旧版本，
	这时就破坏了Nuget的上述的默认规则，而官方Nuget不支持这种破坏默认规则的做法，就只能发布到私有Nuget源。
	
	综上，当多个Nuget源中某个版本的包的内容不一致时，在切换Nuget源后，全局包目录中该版本的包是不会自动更新的，必须手动删除，方法有二：
		1). 打开全局包目录 C:\Users\<用户名>\.nuget\packages，手动删除要切换包对应的文件夹；
		2). 或者运行 dotnet nuget locals global-packages -c 以清除全局包目录。
	
	接着编译项目（或 dotnet restore），
    最后查看目标包文件夹下的【.nupkg.metadata】文件中的source 字段，该字段标明包的Nuget源（下载）来源，以此来判断切换Nuget源是否成功。
	-->
	
	<packageSources>
	    <clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="PrivateNuget" value="https://localhost:5657/v3/index.json" />
	</packageSources>
	<packageSourceMapping>
	    <packageSource key="nuget.org">
      		<package pattern="*" />
    	</packageSource>
		<packageSource key="PrivateNuget">
			<!-- <package pattern="Artizan.Abp.*" /> -->
			<package pattern="Artizan.IoTPlatform" />
			<package pattern="Artizan.IoTPlatform.*" />
			<package pattern="Artizan.Abp.*" />
		</packageSource>
	</packageSourceMapping>
</configuration>