@page
@using Microsoft.Extensions.Localization
@using Artizan.IoT.Localization
@using Artizan.IoT.Web.Pages.IoT
@model Artizan.IoT.Web.Pages.IoT.IndexModel
@inject IStringLocalizer<IoTResource> L

@{
}
<h1>IoT</h1>
<p>@L["SamplePageMessage"]</p>
