@page
@using Microsoft.Extensions.Localization
@using Artizan.IoTHub.Localization
@using Artizan.IoTHub.Web.Pages.IoTHub
@model Artizan.IoTHub.Web.Pages.IoTHub.IndexModel
@inject IStringLocalizer<IoTHubResource> L

@{
}
<h1>IoTHub</h1>
<p>@L["SamplePageMessage"]</p>
